html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    height: 100vh;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

/* header */
header {
    padding: 12px 16px;
    box-shadow:
        0 2px 6px 0 rgba(0, 0, 0, 0.04),
        0 4px 6px 0 rgba(0, 0, 0, 0.04),
        0 8px 6px -2px rgba(0, 0, 0, 0.06);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.logo-text {
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    color: #FF8000;
}

.header-center-text {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: rgb(36, 46, 48);
}

.header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
}

.button {
    padding: 0;
    width: 48px;
    height: 48px;
    background-color: transparent;
    border: unset;
    border-radius: 50%;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.button:active {
    background-color: rgba(0, 0, 0, 0.15);
}

/* restaurant */
.restaurant {
    width: calc(100% - 344px);
}

.restaurant-img {
    display: block;
    width: 100%;
    height: 320px;
    object-fit: cover;
    object-position: center;
}

.atf-content {
    margin: 5px 16px 0 16px;
    padding: 24px 52px 16px 52px;
}

.atf-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* height passt nicht!!! (48 --> 36px */

.atf-headline {
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    color: rgb(36, 46, 48);
}

.atf-row button {
    margin-bottom: -16px;
}

.customer-review {
    margin-top: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
}

/* Bitte gap zwischen img und headline entfernen!!! */

.star-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.star-20 {
    width: 20px;
    height: 20px;
    background-color: #F36805;
}

.customer-review-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: underline;
    color: rgb(60, 76, 79);
}

.delivery-hint {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgb(60, 76, 79);
}

.menu-bar {
    min-height: 56px;
    margin-bottom: 8px;
    background-color: lightgray;
}

.dishes {
    padding: 0 68px 24px 68px;
    background-color: #FCFCFC;
}

.dishes-title {
    margin: 16px 0 0 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: rgb(36, 46, 48);
}

.dish-card {
    margin-top: 16px;
    padding: 16px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 12px;
}

.dish-card:hover {
    background-color: #F5F5F5;
}

.dish-card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dish-card-title {
    margin: 0 0 4px 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: rgb(36, 46, 48);
}

.dish-card-top .button {
    margin-bottom: 4px;
    padding: 0;
    width: 30px;
    height: 30px;
    font-size: 28px;
    font-weight: 400;
    line-height: 30px;
    color: rgb(36, 46, 48);
    background-color: rgba(0, 0, 0, 0.05);
}

.dish-card-ingredients {
    margin: 0 0 4px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(36, 46, 48);
}

.dish-card-option {
    margin: 0 0 4px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgb(60, 76, 79);
}

.dish-card-price {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: rgb(36, 46, 48);
}


/* menu */
.menu {
    width: 344px;
    min-height: calc(100vh - 72px);
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1);
}

.menu-title {
    margin: 0;
    padding: 24px 16px 0 16px;
    width: calc(100% - 32px);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    color: rgb(36, 46, 48);
}

.delivery-options-box {
    margin: 12px 0 8px 0;
    padding: 8px 16px;
}

.delivery-options {
    background-color: #EFEDEA;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delivery-button {
    margin: 2px;
    padding: 0;
    width: calc(50% - 4px);
    height: 44px;
    color: #9AA5A6;
    background-color: transparent;
    border: unset;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* row-reverse */

.delivery-button-activated {
    background-color: white;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.delivery-button-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgb(36, 46, 48);
}

.delivery-button-text-activated {
    font-weight: 700;
}

.delivery-button-time {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: rgb(36, 46, 48);
}

.shopping-cart {
    padding: 80px 16px;
}

.cart-icon {
    margin-bottom: 16px;
    height: 40px;
    text-align: center;
}

.cart-text {
    margin-bottom: 4px;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    color: rgb(36, 46, 48);
}

.cart-hint {
    margin-bottom: 32px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: rgb(60, 76, 79);
}

.shopping-cart-items {
    padding: 8px 16px 16px 16px;
}

.shopping-cart-item {
    padding: 8px 0;
    border-top: 1px solid lightgray;
}

.shopping-cart-item:first-child {
    border-top: unset;
}

.item-index {
    padding: 0;
    width: 24px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: rgb(36, 46, 48);
    text-align: left;
    vertical-align: top;
}

.fd-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.item-details {
    padding: 0;
    width: calc(280px - 24px);
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: rgb(36, 46, 48);
}

.item-price {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: rgb(36, 46, 48);
}

.jc-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.item-title-and-price {
    width: 100%;
}

.added-item-title {
    text-decoration: underline;
}

.added-options {
    margin-top: 12px;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: rgb(36, 46, 48);
}

.mt-8 {
    margin-top: 8px;
}

.width-50 {
    width: 50%;
}

.width-50 .jc-space-between {
    gap: unset;
    /* Bitte gap ausschalten!!! */
}

.item-notes {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: underline;
}

.item-amount {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(36, 46, 48);
}

.sum-and-order {
    padding: 16px;
}

.sum-block {
    padding-bottom: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: rgb(36, 46, 48);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
}

.sub-total,
.delivery-costs,
.total {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total {
    font-weight: 700;
}

.order-button {
    margin: 0 16px;
    padding: 0;
    width: 312px;
    height: 48px;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: white;
    background-color: #F36805;
    border: unset;
    border-radius: 100px;
}

.dialog-box-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 101;
    background-color: rgba(0, 0, 0, 0.5);

    /* display: none */
    display: none;
    justify-content: center;
    align-items: flex-start;
}

.dialog-box {
    width: 600px;
    background-color: white;
    border-radius: 12px;
    position: absolute;
    top: 80px;
    left: calc(50% - 300px);
}

.dialog-box-header {
    padding: 24px 24px 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.dialog-box-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: rgb(36, 46, 48);
}

.close-button {
    margin: 0 10px;
    width: 28px;
    height: 28px;
    background-color: lightgray;
}

.dialog-box-main {
    margin: 0 24px;
}

.dialog-box-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
}

.dialog-box-ingredients {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(60, 76, 79);
}

.dialog-box-price {
    padding-bottom: 24px;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: rgb(36, 46, 48);
}

.dialog-box-options {
    padding: 16px 0;
    background-color: #F5F3F1;
}

.dialog-box-options-text {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    color: rgb(36, 46, 48);
}

.dialog-box-options-selection {
    margin: 10px 8px;
}

.dialog-box-footer {
    padding: 20px 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}

.width-144 {
    width: 144px;
}

.dialog-add-button {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 56px;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: white;
    background-color: #F36805;
    border: unset;
    border-radius: 100px;
}

.imprint-container {
    padding: 8px 68px 24px 68px;
}

.imprint-headline {
    margin: 0 0 8px 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: rgb(36, 46, 48);
}

.imprint-address {
    font-style: normal;
}

.display-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.font-16424 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(60, 76, 79);
}

.font-14420 {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgb(36, 46, 48);
}

.imprint-mail {
    padding-bottom: 16px;
    text-decoration: underline;
    box-shadow: 0 1px rgba(0, 0, 0, 0.15);
}

.imprint-mail:hover {
    text-decoration: none;
}

.hint-of-provider {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(36, 46, 48);
}

.footer {
    padding: 16px 32px 24px 32px;
    background-color: #EFEDEA;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.footer-list {
    padding: 8px 0;
}

.footer-link {
    padding: 8px 12px;
}