html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    height: 100vh;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

header {
    padding: 12px 16px;
    box-shadow:
        0 2px 6px 0 rgba(0, 0, 0, 0.04),
        0 4px 6px 0 rgba(0, 0, 0, 0.04),
        0 8px 6px -2px rgba(0, 0, 0, 0.06);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.logo-text {
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    color: #FF8000;
}

.header-center-text {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: rgb(36, 46, 48);
}

.header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
}

.button {
    padding: 0;
    width: 48px;
    height: 48px;
    background-color: transparent;
    border: unset;
    border-radius: 50%;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.button:active {
    background-color: rgba(0, 0, 0, 0.15);
}

.content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}











/* Bitte kontrollieren!!! */

.imprint {
    padding: 8px 68px 24px 68px;
}

.imprint-headline {
    margin: 0 0 8px 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: rgb(36, 46, 48);
}

.imprint-address {
    font-style: normal;
}

.display-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.font-16424 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(60, 76, 79);
}

.font-14420 {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgb(36, 46, 48);
}

.imprint-mail {
    padding-bottom: 16px;
    text-decoration: underline;
    box-shadow: 0 1px rgba(0, 0, 0, 0.15);
}

.imprint-mail:hover {
    text-decoration: none;
}

.hint-of-provider {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(36, 46, 48);
}

p {
    margin: 16px 0;
}

.footer {
    padding: 16px 32px 24px 32px;
    background-color: #EFEDEA;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.footer-list {
    padding: 8px 0;
}

/* Warum wird height falsch angezeigt? */
.footer-link {
    padding: 8px 12px;
}

.footer-link-copyright {
    padding: 16px 12px;
}