.dialog-background {
    margin: 0;
    padding: 80px 0 0 0;
    width: 100%;
    height: calc(100vh - 80px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    background-color: rgba(0, 0, 0, 0.5);
    border: unset;
    display: none;
    justify-content: center;
    align-items: flex-start;
}

.dialog-background[open] {
    display: flex;
}

.dialog-box {
    width: 600px;
    background-color: white;
    border-radius: 12px;
}

.dialog-box-header {
    padding: 24px 24px 16px 24px;
}

.dialog-box-headline {
    margin: 0;
}

.dialog-box-close-button {
    margin: 0 10px 4px 10px;
    width: 28px;
    height: 28px;
    background-color: lightgray;
}

.dialog-box-description {
    padding: 0 24px 24px 24px;
    gap: 24px;
}

.dialog-box-ingredients {
    margin: 0;
    line-height: 24px;
    color: rgb(60, 76, 79);
}

.dialog-box-price {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: rgb(36, 46, 48);
}

.dialog-box-option {
    padding: 16px 24px;
    background-color: #F5F3F1;
}

.dialog-box-option-text {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    color: rgb(36, 46, 48);
}

.dialog-box-option-group {
    margin: 10px 8px;
}

.option-button {
    padding: 8px 16px;
    background-color: rgba(0, 0, 0, 0.05);
    border: unset;
    border-radius: 50px;
}

.option-button:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.dialog-box-footer {
    padding: 20px 24px;
    gap: 24px;
}

.dialog-box-amount-group {
    width: 144px;
}

.dialog-box-add-button {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 56px;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: white;
    background-color: #F36805;
    border: unset;
    border-radius: 100px;
}