.restaurant {
    width: calc(100% - 344px);
}

.atf-img {
    display: block;
    width: 100%;
    height: 320px;
    object-fit: cover;
    object-position: center;
}

.atf-content {
    margin: 5px 16px 0 16px;
    padding: 24px 52px 16px 52px;
}

.atf-content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* height passt nicht!!! (48 --> 36px */

.atf-headline {
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    color: rgb(36, 46, 48);
}

.atf-content-top button {
    margin-bottom: -16px;
}

.customer-review {
    margin-top: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
}

.star-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.star {
    width: 20px;
    height: 20px;
    background-color: #F36805;
}

.customer-review-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: underline;
    color: rgb(60, 76, 79);
}

.delivery-hint {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgb(60, 76, 79);
}

.slide-menu {
    min-height: 56px;
    margin-bottom: 8px;
    background-color: lightgray;
}

.dishes {
    padding: 0 68px 24px 68px;
    background-color: #FCFCFC;
}

.dishes-title {
    margin: 16px 0 0 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: rgb(36, 46, 48);
}

.dish-card {
    margin-top: 16px;
    padding: 16px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 12px;
}

.dish-card:hover {
    background-color: #F5F5F5;
}

.dish-card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dish-card-title {
    margin: 0 0 4px 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: rgb(36, 46, 48);
}

.dish-card-top .button {
    margin-bottom: 4px;
    padding: 0;
    width: 30px;
    height: 30px;
    font-size: 28px;
    font-weight: 400;
    line-height: 30px;
    color: rgb(36, 46, 48);
    background-color: rgba(0, 0, 0, 0.05);
}

.dish-card-ingredients {
    margin: 0 0 4px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(36, 46, 48);
}

.dish-card-option {
    margin: 0 0 4px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgb(60, 76, 79);
}

.dish-card-price {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: rgb(36, 46, 48);
}