.shopping-cart-window {
    width: 344px;
    min-height: calc(100vh - 128px);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    right: 0;
    box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: rgb(36, 46, 48);
}

.shopping-cart-headline {
    margin: 0;
    padding: 24px 16px 0 16px;
    width: calc(100% - 32px);
    text-align: center;
}

.delivery-options-box {
    padding: 20px 16px 16px 16px;
}

.delivery-options {
    background-color: #EFEDEA;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delivery-button {
    margin: 2px;
    padding: 0;
    width: calc(50% - 4px);
    height: 44px;
    color: #9AA5A6;
    background-color: transparent;
    border: unset;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.delivery-button-activated {
    background-color: white;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.delivery-button-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgb(36, 46, 48);
}

.fw-700 {
    font-weight: 700;
}

.delivery-button-time {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: rgb(36, 46, 48);
}

.shopping-cart-guide {
    padding: 80px 16px;
}

.shopping-cart-guide-icon {
    margin-bottom: 16px;
    height: 40px;
    text-align: center;
}

.shopping-cart-guide-text {
    margin: 0 0 4px 0;
    text-align: center;
}

.shopping-cart-guide-hint {
    margin: 0 0 32px 0;
    line-height: 24px;
    text-align: center;
    color: rgb(60, 76, 79);
}

.shopping-cart-item-collector {
    padding: 16px 16px 8px 16px;
}

table {
    border-spacing: 0;
}

.shopping-cart-item {
    padding: 16px 0;
    border-top: 1px solid lightgray;
}

.shopping-cart-item:first-child {
    padding: 0 0 16px 0;
    border-top: unset;
}

.shopping-cart-item:last-child {
    padding: 16px 0 0 0;
}

.item-index {
    padding: 0;
    width: 24px;
    color: rgb(36, 46, 48);
    text-align: left;
    vertical-align: top;
}

.item-details {
    padding: 0;
    color: rgb(36, 46, 48);
}

.item-price {
    color: rgb(36, 46, 48);
}

.gap-20 {
    gap: 20px;
}

.added-item-title {
    text-decoration: underline;
}

.added-options {
    margin-top: 12px;
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    color: rgb(36, 46, 48);
    display: none;
}

.mt-8 {
    margin-top: 8px;
}

.width-50 {
    width: 50%;
}

.item-notes {
    width: calc(144px - 20px);
    text-decoration: underline;
}

.item-amount {
    margin: 0 12px;
    width: 24px;
    line-height: 24px;
    text-align: center;
    color: rgb(36, 46, 48);
}

.sum-and-order {
    padding: 16px;
}

.sum-block {
    padding-bottom: 16px;
    color: rgb(36, 46, 48);
    gap: 4px;
}

.order-button {
    margin: 0;
    padding: 0;
    width: 312px;
    height: 48px;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: white;
    background-color: #F36805;
    border: unset;
    border-radius: 100px;
}