@media (max-width: 1024px) {
    .restaurant {
        width: 100%;
    }

    .shopping-cart-window {
       width: 0;

       height: 100vh;
       /* scroll fuction ausstellen!!! */

       position: absolute;
       bottom: 0;
       left: 0;
    }
}